################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/discprinter/v17
/.vs
/PrintDriveToTxt/obj
